<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 80.88"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="R$ 107.20"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="R$ 107.20"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="R$ 107.20"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="R$ 107.20"
	></app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Exclusivo"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="R$ 107.20"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="R$ 107.20"
	></app-card>
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 80.88"
	></app-card>
</div>
